<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT message ANY>
<!ATTLIST message id ID #REQUIRED>
<!ELEMENT contactForm ANY>
<!ATTLIST contactForm id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesOverview ANY>
<!ATTLIST articlesOverview id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT gridPage ANY>
<!ATTLIST gridPage id ID #REQUIRED>
<!ELEMENT projectOverview ANY>
<!ATTLIST projectOverview id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1100" key="aac9fb98-785c-49b4-ae98-ddc4795207b7" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2018-02-14T12:35:43" updateDate="2018-03-05T14:35:32" nodeName="Home" urlName="home" path="-1,1100" isDoc="" nodeType="1056" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1055" nodeTypeAlias="homePage" isPublished="true">
    <metaKeywords><![CDATA[projects]]></metaKeywords>
    <metaDescription><![CDATA[A group of web developers have decided to establish a professional network, Aarhus Web Developer Coop that
enables network members to work together in different constellations on various projects. Some of the projects are
commercial while others are charitable.]]></metaDescription>
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Aarhus Web Developer Corporation]]></siteTitle>
    <logo><![CDATA[umb://media/e0f26201a760472b830e171b82115730]]></logo>
    <footer><![CDATA[© Aarhus Web Developer Coop]]></footer>
    <mainContent><![CDATA[<p>A group of web developers have decided to establish a professional network, Aarhus Web Developer Coop that enables network members to work together in different constellations on various projects. Some of the projects are commercial while others are charitable.</p>]]></mainContent>
    <listNewestProjectsMacro><![CDATA[<?UMBRACO_MACRO macroAlias="listNewestProjects" numOfProjects="5" />]]></listNewestProjectsMacro>
    <projectOverview id="1088" key="46dc2be4-4b73-47ef-a00f-c0645447a729" parentID="1100" level="2" creatorID="0" sortOrder="1" createDate="2018-02-07T11:24:15" updateDate="2018-02-28T11:59:13" nodeName="Projects Overview" urlName="projects-overview" path="-1,1100,1088" isDoc="" nodeType="1064" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1063" nodeTypeAlias="projectOverview" isPublished="true">
      <metaKeywords><![CDATA[Project]]></metaKeywords>
      <metaDescription><![CDATA[Project]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <projectsBodyText><![CDATA[<p>aaaaa</p>]]></projectsBodyText>
      <projectsTitle><![CDATA[Aarhus Web Developer Corporation]]></projectsTitle>
      <projectItem id="1091" key="98ecc036-c912-4cbb-bd33-f8bc71954dcb" parentID="1088" level="3" creatorID="0" sortOrder="18" createDate="2018-02-07T11:59:58" updateDate="2018-03-06T21:54:03" nodeName="Project 1" urlName="project-1" path="-1,1100,1088,1091" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Project 1]]></metaKeywords>
        <metaDescription><![CDATA[Project 1]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 1 description</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 1]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1092" key="3af6063d-06a3-45f3-b4a5-92bdb56c435c" parentID="1088" level="3" creatorID="0" sortOrder="19" createDate="2018-02-07T12:00:14" updateDate="2018-02-14T13:17:56" nodeName="Project 2" urlName="project-2" path="-1,1100,1088,1092" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Project 2]]></metaKeywords>
        <metaDescription><![CDATA[Project 2]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 2 description</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 2]]></projectTitle>
        <projectStatus>27</projectStatus>
      </projectItem>
      <projectItem id="1093" key="1f1f88f0-f7b1-4893-b70a-4a13ef5302b8" parentID="1088" level="3" creatorID="0" sortOrder="20" createDate="2018-02-07T12:00:26" updateDate="2018-02-27T17:35:28" nodeName="Project 3" urlName="project-3" path="-1,1100,1088,1093" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <metaKeywords><![CDATA[Project 3]]></metaKeywords>
        <metaDescription><![CDATA[Project 3]]></metaDescription>
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 3 description</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 3]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1115" key="0bb0b676-8e53-40b3-88e3-a835ca6c33ea" parentID="1088" level="3" creatorID="0" sortOrder="21" createDate="2018-02-27T15:28:58" updateDate="2018-03-05T13:43:06" nodeName="Project 4" urlName="project-4" path="-1,1100,1088,1115" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <projectDescription><![CDATA[<p>This one is completed.</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 4]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1119" key="7afde9d5-571b-4564-a395-c7a815a6c04e" parentID="1088" level="3" creatorID="0" sortOrder="22" createDate="2018-02-27T16:39:52" updateDate="2018-03-05T13:58:02" nodeName="Project 5" urlName="project-5" path="-1,1100,1088,1119" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 5</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 5]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1120" key="a3d70522-06c1-45a8-ab75-73cb832f0ae4" parentID="1088" level="3" creatorID="0" sortOrder="23" createDate="2018-02-27T16:40:05" updateDate="2018-03-05T13:42:54" nodeName="Project 6" urlName="project-6" path="-1,1100,1088,1120" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 6</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 6]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
      <projectItem id="1154" key="aa84ae75-a5de-4261-a26b-7840076469b9" parentID="1088" level="3" creatorID="0" sortOrder="24" createDate="2018-03-05T13:45:34" updateDate="2018-03-05T13:45:34" nodeName="Project 7" urlName="project-7" path="-1,1100,1088,1154" isDoc="" nodeType="1066" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1065" nodeTypeAlias="projectItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <projectDescription><![CDATA[<p>Project 7</p>]]></projectDescription>
        <projectTitle><![CDATA[Project 7]]></projectTitle>
        <projectStatus>29</projectStatus>
      </projectItem>
    </projectOverview>
    <articlesOverview id="1094" key="89cf9e7d-f0fb-416d-b511-041f72890b93" parentID="1100" level="2" creatorID="0" sortOrder="2" createDate="2018-02-07T12:00:39" updateDate="2018-02-14T13:18:09" nodeName="Articles Overview" urlName="articles-overview" path="-1,1100,1094" isDoc="" nodeType="1060" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1059" nodeTypeAlias="articlesOverview" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <articlesBodyText><![CDATA[<p>Articles overview</p>]]></articlesBodyText>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articleItem id="1095" key="b47e98b4-f643-4936-804c-3c0f4a608fed" parentID="1094" level="3" creatorID="0" sortOrder="15" createDate="2018-02-07T12:01:05" updateDate="2018-02-27T15:09:06" nodeName="Article 1" urlName="article-1" path="-1,1100,1094,1095" isDoc="" nodeType="1062" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1061" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>1</umbracoNaviHide>
        <articleTitle><![CDATA[Article 1]]></articleTitle>
        <articleContent><![CDATA[<p>Article about project 1 idea</p>]]></articleContent>
      </articleItem>
      <articleItem id="1096" key="7c15d534-565d-42b4-a1e0-ff7baa6042fc" parentID="1094" level="3" creatorID="0" sortOrder="16" createDate="2018-02-07T12:01:15" updateDate="2018-02-14T13:18:09" nodeName="Article 2" urlName="article-2" path="-1,1100,1094,1096" isDoc="" nodeType="1062" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1061" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article 2]]></articleTitle>
        <articleContent><![CDATA[<p>Article about project 2 idea</p>]]></articleContent>
      </articleItem>
      <articleItem id="1097" key="ad2f8bcc-9999-4c9f-b782-6505cf37625b" parentID="1094" level="3" creatorID="0" sortOrder="17" createDate="2018-02-07T12:01:22" updateDate="2018-02-14T13:18:09" nodeName="Article 3" urlName="article-3" path="-1,1100,1094,1097" isDoc="" nodeType="1062" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1061" nodeTypeAlias="articleItem" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <articleTitle><![CDATA[Article 3]]></articleTitle>
        <articleContent><![CDATA[<p>Article about project 3 idea</p>]]></articleContent>
      </articleItem>
    </articlesOverview>
    <gridPage id="1089" key="defe0805-fd5d-4e05-9ca1-b016e4a4e747" parentID="1100" level="2" creatorID="0" sortOrder="3" createDate="2018-02-07T11:25:19" updateDate="2018-02-28T08:53:32" nodeName="About Us" urlName="about-us" path="-1,1100,1089" isDoc="" nodeType="1087" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1086" nodeTypeAlias="gridPage" isPublished="true">
      <metaKeywords><![CDATA[grid]]></metaKeywords>
      <metaDescription><![CDATA[grid]]></metaDescription>
      <umbracoNaviHide>0</umbracoNaviHide>
      <testingGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>A group of web developers have decided to establish a professional network, Aarhus Web Developer Coop that<br />enables network members to work together in different constellations on various projects. Some of the projects are<br />commercial while others are charitable.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1090,
                    "udi": "umb://media/f4a9f19fa31f45c5aa688ee78c456103",
                    "image": "/media/1002/screenshot_3.jpg"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Project 1</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Project 3</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Project 2</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "d108792b-e139-a261-0fc1-268fb7974238"
        }
      ],
      "allowAll": false,
      "allowed": [
        ""
      ]
    }
  ]
}]]></testingGrid>
    </gridPage>
    <contactForm id="1103" key="b6225e4e-43cf-4282-b9e9-561a262737e0" parentID="1100" level="2" creatorID="0" sortOrder="4" createDate="2018-02-21T09:25:29" updateDate="2018-02-21T12:14:24" nodeName="Contact Us" urlName="contact-us" path="-1,1100,1103" isDoc="" nodeType="1102" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1101" nodeTypeAlias="contactForm" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactForm>
    <sitemap id="1118" key="1fe3a0d6-cdd7-4fa4-88db-3aa95f42c156" parentID="1100" level="2" creatorID="0" sortOrder="5" createDate="2018-02-27T15:39:58" updateDate="2018-02-27T15:39:58" nodeName="Sitemap" urlName="sitemap" path="-1,1100,1118" isDoc="" nodeType="1117" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1116" nodeTypeAlias="sitemap" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </sitemap>
    <login id="1141" key="101a291e-eb73-47b3-a889-6450904454e8" parentID="1100" level="2" creatorID="0" sortOrder="6" createDate="2018-02-28T10:27:26" updateDate="2018-02-28T10:27:26" nodeName="Login" urlName="login" path="-1,1100,1141" isDoc="" nodeType="1140" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1139" nodeTypeAlias="login" isPublished="true" />
    <textPage id="1146" key="63aefb29-bfb5-4d83-aabf-5b60e61fbb3a" parentID="1100" level="2" creatorID="0" sortOrder="7" createDate="2018-02-28T11:54:24" updateDate="2018-02-28T12:02:05" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1100,1146" isDoc="" nodeType="1058" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1057" nodeTypeAlias="textPage" isPublished="true">
      <umbracoNaviHide>1</umbracoNaviHide>
      <mainContent><![CDATA[<p><strong>Sorry, this page is not available to your user group.</strong></p>]]></mainContent>
      <header><![CDATA[Forbidden Access]]></header>
    </textPage>
    <members id="1152" key="16644ccb-7c2d-4e2e-a96b-dcc3e1eb42ee" parentID="1100" level="2" creatorID="0" sortOrder="8" createDate="2018-03-01T14:16:33" updateDate="2018-03-01T14:16:33" nodeName="Members" urlName="members" path="-1,1100,1152" isDoc="" nodeType="1150" creatorName="Lisa Blaga" writerName="Lisa Blaga" writerID="0" template="1149" nodeTypeAlias="members" isPublished="true" />
  </homePage>
</root>