@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@{ var root = Model.Content.Site(); 
int numOfProjects = Convert.ToUInt16(Model.MacroParameters["numOfProjects"]);


var selection2 = Model.Content.Site()
        .Children
        .Where(x => x.DocumentTypeAlias == "projectOverview")
        .First()
        .Children
        .Where(x => x.IsVisible())
        .Where(x => x.GetPropertyValue<int>("projectStatus") == 29)
        .OrderByDescending(x => x.CreateDate)
        .Take(numOfProjects)
        .ToArray();

}


@if (selection2.Length > 0)
{
    foreach (var item in selection2)
    {
                                <div>@(item.IsAncestorOrSelf(Model.Content) ? "current" : null)
                                    <a href="@item.Url">@item.Name</a></div>

                            
                       
                       
                  


           }
        }

