@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}


<body>

<link rel="stylesheet" href="css/carrousel.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
           
            <h1>Latest Projects:</h1>
               
                    @Umbraco.RenderMacro("listNewestProjects", new {numOfProjects=5})
                  
            
        </hgroup>
        <a href="/projects-overview"><button class="btn btn-hero btn-lg" role="button">See more projects</button></a>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Keep yourself updated</h1>   
            
            <h3>Read about our latest news and events</h3>
        </hgroup>       
        <a href="/articles-overview"><button class="btn btn-hero btn-lg" role="button">News and Events</button></a>
</div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Get in touch</h1>        
            <h3>Get started on your next awesome project</h3>
        </hgroup>
        <a href="/contact-us"><button class="btn btn-hero btn-lg" role="button">Contact us now</button></a>
      </div>
    </div>
  </div> 
</div>
</body>